# UN Voting Analysis

In [97]:
import pandas as pd

In [217]:
f = open('UN_voting_data.txt', 'r')
voting_data = []
for row in list(f):
    voting_data.append(row.split(' '))
voting_data = pd.DataFrame(voting_data)
# Remove \n from last column
voting_data.iloc[:,-1] =  voting_data.iloc[:,-1].str.split(expand=True)
# convert str to int
voting_data.iloc[:,1:] = voting_data.iloc[:,1:].astype(int)

In [218]:
voting_data

,0,1,2,3,4,5,6,7,8,9,...,5202,5203,5204,5205,5206,5207,5208,5209,5210,5211
0,Ireland,0,0,1,1,-1,-1,-1,1,1,...,-1,-1,-1,0,1,1,0,1,1,1
1,Belarus,1,1,1,1,1,1,1,0,1,...,-1,0,1,1,1,1,1,1,1,1
2,Turkey,1,-1,1,1,1,1,1,1,1,...,0,0,-1,0,0,1,1,1,1,1
3,Paraguay,1,-1,1,1,-1,-1,-1,1,1,...,1,1,-1,0,0,1,1,1,1,1
4,Eritrea,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,Italy,0,0,1,1,-1,-1,-1,1,1,...,0,0,-1,0,0,0,0,1,0,0
202,Zambia,0,0,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,0
203,Iraq,1,0,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
204,Hungary,0,0,1,1,1,1,1,0,1,...,-1,0,1,1,1,1,1,1,1,1
205,U.S.S.R.,1,1,1,1,1,1,1,0,1,...,-1,0,1,1,1,1,1,1,1,1

In [134]:
get_votes = lambda country: voting_data[voting_data.iloc[:, 0]==country].iloc[:,1:].values[0]
calc_similarity = lambda country1, country2: sum(get_votes(country1) * get_votes(country2))

In [ ]:
for row in voting_data

In [146]:
calc_similarity('Belgium', 'Belgium'), calc_similarity('Belgium', 'Netherlands'), calc_similarity('Belgium', 'France'), calc_similarity('Belgium', 'Germany')

(3650, 3361, 2819, 1230)

In [163]:
cross_similarity = pd.DataFrame(columns=voting_data[0])
for country1 in voting_data[0]:
    for country2 in voting_data[0]:
        cross_similarity.loc[country1,country2] = calc_similarity(country1, country2)

In [164]:
cross_similarity

,Ireland,Belarus,Turkey,Paraguay,Eritrea,Libya,Montenegro,India,Niger,Sri_Lanka,...,Uganda,Zimbabwe,Cuba,Nauru,Nepal,Italy,Zambia,Iraq,Hungary,U.S.S.R.
Ireland,3477.0,1386.0,2502.0,2218.0,611.0,1880.0,383.0,1786.0,1931.0,2105.0,...,1746.0,1293.0,1441.0,131.0,2249.0,2723.0,1965.0,1518.0,1733.0,655.0
Belarus,1386.0,4487.0,1627.0,1608.0,962.0,3079.0,200.0,3024.0,2442.0,3062.0,...,2667.0,2120.0,3260.0,119.0,2921.0,752.0,2891.0,2732.0,3381.0,3233.0
Turkey,2502.0,1627.0,4249.0,2463.0,621.0,2401.0,340.0,2303.0,2406.0,2590.0,...,2212.0,1499.0,2144.0,46.0,2548.0,2444.0,2429.0,2109.0,1982.0,831.0
Paraguay,2218.0,1608.0,2463.0,3825.0,1032.0,2480.0,228.0,2355.0,2518.0,2709.0,...,2324.0,1896.0,2303.0,196.0,2812.0,1818.0,2561.0,2105.0,1329.0,553.0
Eritrea,611.0,962.0,621.0,1032.0,1131.0,1020.0,207.0,872.0,801.0,1094.0,...,858.0,1003.0,983.0,185.0,1060.0,529.0,1067.0,560.0,494.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Italy,2723.0,752.0,2444.0,1818.0,529.0,1075.0,388.0,1017.0,1274.0,1304.0,...,1043.0,833.0,716.0,113.0,1447.0,3254.0,1256.0,755.0,1230.0,62.0
Zambia,1965.0,2891.0,2429.0,2561.0,1067.0,3478.0,210.0,3318.0,3208.0,3583.0,...,3402.0,2442.0,3219.0,186.0,3503.0,1256.0,3927.0,2937.0,2311.0,1798.0
Iraq,1518.0,2732.0,2109.0,2105.0,560.0,3271.0,198.0,3183.0,2779.0,3177.0,...,2827.0,1851.0,3215.0,21.0,3059.0,755.0,2937.0,3971.0,2322.0,2151.0
Hungary,1733.0,3381.0,1982.0,1329.0,494.0,2415.0,381.0,2284.0,1967.0,2437.0,...,2140.0,1458.0,2602.0,108.0,2347.0,1230.0,2311.0,2322.0,3939.0,2735.0
U.S.S.R.,655.0,3233.0,831.0,553.0,0.0,2007.0,0.0,2072.0,1590.0,1920.0,...,1797.0,1030.0,2202.0,0.0,1817.0,62.0,1798.0,2151.0,2735.0,3265.0

Most voting against

In [220]:
voting_data['sum'] = voting_data.loc[:,1:].sum(axis=1)
voting_data.sort_values('sum')

,0,1,2,3,4,5,6,7,8,9,...,5203,5204,5205,5206,5207,5208,5209,5210,5211,sum
58,United_States_of_America,1,-1,1,1,-1,-1,-1,1,1,...,-1,-1,-1,-1,0,-1,1,0,0,-1082.0
137,Palau,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-134.0
183,Israel,0,0,1,1,-1,-1,-1,1,1,...,0,-1,1,1,1,1,1,1,1,-60.0
143,Zanzibar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
101,Kiribati,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Indonesia,0,0,1,1,1,1,1,0,1,...,1,0,1,1,1,1,1,1,1,4064.0
193,Egypt,1,-1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,4081.0
46,Tunisia,0,0,1,1,1,1,1,0,1,...,0,1,1,1,1,1,1,1,1,4098.0
52,Philippines,0,-1,1,1,-1,-1,-1,1,1,...,1,-1,1,1,1,1,1,1,1,4126.0
99,Mexico,1,-1,1,1,-1,-1,-1,1,1,...,1,-1,0,0,1,1,1,1,1,4244.0

In [207]:
cross_similarity.loc['Israel',:].sort_values()

0
Viet_Nam                   -1077.0
Belarus                     -923.0
Cuba                        -921.0
Syria                       -853.0
Mongolia                    -831.0
                             ...
Australia                   1215.0
Netherlands                 1224.0
Canada                      1409.0
United_States_of_America    2267.0
Israel                      3394.0
Name: Israel, Length: 206, dtype: float64

In [165]:
cross_similarity.loc['U.S.S.R.',:].sort_values()

0
United_States_of_America   -1319.0
United_Kingdom              -629.0
South_Africa                -570.0
Israel                      -487.0
Belgium                     -277.0
                             ...
Poland                      3112.0
Czechoslovakia              3156.0
Belarus                     3233.0
Ukraine                     3250.0
U.S.S.R.                    3265.0
Name: U.S.S.R., Length: 206, dtype: float64

In [166]:
cross_similarity.loc['Belgium',:].sort_values()

0
U.S.S.R.          -277.0
Czechoslovakia    -166.0
Zanzibar             0.0
South_Sudan         22.0
Kiribati            31.0
                   ...
New_Zealand       3005.0
Canada            3021.0
Netherlands       3361.0
Luxembourg        3473.0
Belgium           3650.0
Name: Belgium, Length: 206, dtype: float64